body {
  background-color: #fafafa;
}

.lines1 {
  border: solid;
  color: chocolate;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 90px;
  background-position: center;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

.header1 {
  background-color: bisque;
  color: darkgreen;
  text-align: center;
  font-size: 3vw;
}

.line1 {
  display: inline-block;
}
.space1 {
  width: 26vw;
  height: 26vw;
  background-position: center;
  object-position: center;
}

.car1 {
  width: 26vw;
  height: 26vw;
  background-position: center;
  object-position: center;
}

.ship1 {
  width: 26vw;
  height: 26vw;
  background-position: center;
  object-position: center;
}

.line2 {
  display: inline-block;
}

.seaside1 {
  width: 26vw;
  height: 26vw;
  background-position: center;
}

.mountain1 {
  width: 26vw;
  height: 26vw;
  background-position: center;
}

.sun1 {
  width: 26vw;
  height: 26vw;
  background-position: center;
}

.line3 {
  display: inline-block;
}

.earth1 {
  width: 26vw;
  height: 26vw;
  background-position: center;
}

.astronaut1 {
  width: 26vw;
  height: 26vw;
  background-position: center;
}

.kapadokya1 {
  width: 26vw;
  height: 26vw;
  background-position: center;
}
